.display-1, .display-2, .display-3, .display-4 {
    @extend .font-playfair;
}

.display-1 {
    font-size: 90px;
}

.display-2 {
    font-size: 65px;
}

.display-3 {
    font-size: 45px;
}

.display-4 {
    font-size: 40px;
}

.h1 {
    font-size: 35px;
}

.h2 {
    font-size: 26px;
}

.h3 {
    font-size: 23px;
}

.h4 {
    font-size: 21px;
}

.h5 {
    font-size: 18px;
}

.h6 {
    font-size: 16px;
}