/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@import "components/navbar";

#wrapper {
    @import "content/fonts";
    @import "content/headers";
}

#banner {
    .navbar-top {
        min-height: $header-height;
    }

    .portlet {
        margin-bottom: 0;

        &:hover .portlet-topper {
            z-index: 990;
        }
    }

    border-bottom: 1px solid $theme-lighter;

    .user-full-name {
        display: none;
    }

    .logo h1 {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    .user-personal-bar {
        @include media-breakpoint-down(xs) {
            width: 100%;
        }
    }
}


.blue-float-border {
    &::after {
        @include media-breakpoint-up(sm) {
            background-color: $theme-primary;
            content: '';
            height: 3px;
            left: 0;
            position: absolute;
            top: -$header-height / 2.44;
            width: 100%;
        }
    }
}

lfr-editable[type=rich-text] {
    display: block !important;
}

.w-auto {
    width: auto !important;
}

.h-auto {
    height: auto !important;
}

.carousel-control-prev, .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
}